extends layout 

block content 

  center
    h1 Projeto Integrador
    p 2022 - Semestre 1
  div.row.no-gutters
    div.col
      canvas#doughnutChart_T1(style="width:100%;max-width:700px")
    div.col
      canvas#lineChart_T1(style="width:100%;max-width:700px")
  div.row.no-gutters
    div.col
      canvas#doughnutChart_T2(style="width:100%;max-width:700px")
    div.col
      canvas#lineChart_T2(style="width:100%;max-width:700px")
  div.row.no-gutters
    div.col
      canvas#doughnutChart_T3(style="width:100%;max-width:700px")
    div.col
      canvas#lineChart_T3(style="width:100%;max-width:700px")
